@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 2.5rem;

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-fg);
  --color-background: var(--bg-body);
  --color-card: var(--bg-card);
}

:root {
  /* BASE - Silk White Look */
  --bg-body: #F8FAFC; 
  --bg-card: #FFFFFF;
  --border-color: #F1F5F9;
  
  /* ROLE: USER - Oceanic Blue */
  --primary: #0F172A; 
  --primary-fg: #FFFFFF;
}

.role-admin {
  /* ROLE: ADMIN - Royal Purple Deep */
  --primary: #312E81;
  --primary-fg: #FFFFFF;
}

.role-owner {
  /* Sport Color Palette */
  --bg-dark: #000000;
  --bg-card: #0a0a0a;
  --sport-volt: #d9ff00; /* Kuning Stabilo / Acid Green */
  --sport-purple: #bc13fe;
  --font-main: 'Poppins', sans-serif;
}

@layer base {
  body {
    /* Menambahkan font smoothing agar tipografi terlihat lebih mahal */
    @apply bg-background text-slate-900 antialiased tracking-tight;
  }
}

@layer components {
  /* Input: Minimalist Glass */
  .input-field {
    @apply w-full bg-white/50 border border-slate-200 rounded-2xl px-5 py-4 
           text-slate-900 outline-none focus:bg-white focus:border-slate-900 
           transition-all duration-500 placeholder:text-slate-300;
  }

  /* Tombol: Quiet Luxury (No Shadows, Just Clean) */
  .btn-primary {
    @apply bg-slate-950 text-white px-10 py-4 rounded-full
           font-bold uppercase tracking-[0.2em] text-[10px] transition-all 
           active:scale-95 hover:bg-emerald-950
           flex items-center justify-center gap-3;
  }

  /* Card: The "Floating" Effect */
  .card-sporty {
    @apply bg-white rounded-[2.5rem] p-8 
           shadow-[0_20px_50px_rgba(0,0,0,0.02)] 
           border border-white hover:border-slate-100
           transition-all duration-500;
  }

}


@layer utilities {
  .text-glow-purple {
    text-shadow: 0 0 10px rgba(192, 132, 252, 0.6);
  }
  .text-glow-cyan {
    text-shadow: 0 0 10px rgba(34, 211, 238, 0.6);
  }
  /* Efek tulisan tembus pandang di background */
  .outline-text {
    -webkit-text-stroke: 1px rgba(255,255,255,0.05);
    color: transparent;
  }
}
